.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-\[17\%\] {
  bottom: 17%;
}

.bottom-\[39\.5\%\] {
  bottom: 39.5%;
}

.bottom-\[42\%\] {
  bottom: 42%;
}

.bottom-\[62\%\] {
  bottom: 62%;
}

.bottom-\[66\%\] {
  bottom: 66%;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-4 {
  top: 1rem;
}

.top-\[60\%\] {
  top: 60%;
}

.z-10 {
  z-index: 10;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-0\.5 {
  height: 0.125rem;
}

.h-12 {
  height: 3rem;
}

.h-\[20rem\] {
  height: 20rem;
}

.h-\[84\%\] {
  height: 84%;
}

.h-full {
  height: 100%;
}

.max-h-\[40rem\] {
  max-height: 40rem;
}

.max-h-96 {
  max-height: 24rem;
}

.max-h-\[30rem\] {
  max-height: 30rem;
}

.max-h-\[46rem\] {
  max-height: 46rem;
}

.w-1\/2 {
  width: 50%;
}

.w-12 {
  width: 3rem;
}

.w-3\/4 {
  width: 75%;
}

.w-5\/6 {
  width: 83.333333%;
}

.w-8 {
  width: 2rem;
}

.w-\[40\%\] {
  width: 40%;
}

.w-full {
  width: 100%;
}

.w-\[46\%\] {
  width: 46%;
}

.max-w-\[18rem\] {
  max-width: 18rem;
}

.max-w-\[20rem\] {
  max-width: 20rem;
}

.max-w-\[31\%\] {
  max-width: 31%;
}

.max-w-\[32\%\] {
  max-width: 32%;
}

.max-w-\[36\%\] {
  max-width: 36%;
}

.max-w-\[38\%\] {
  max-width: 38%;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-tl-\[14rem\] {
  border-top-left-radius: 14rem;
}

.bg-\[\#FFA400\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 164 0 / var(--tw-bg-opacity));
}

.bg-zinc-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(67 67 67 / var(--tw-bg-opacity));
}

.bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.p-8 {
  padding: 2rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-\[12pt\] {
  font-size: 12pt;
}

.text-\[13pt\] {
  font-size: 13pt;
}

.text-\[16pt\] {
  font-size: 16pt;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[19pt\] {
  font-size: 19pt;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.uppercase {
  text-transform: uppercase;
}

.leading-tight {
  line-height: 1.25;
}

.text-zinc-400 {
  --tw-text-opacity: 1;
  color: rgb(67 67 67 / var(--tw-text-opacity));
}

.text-zinc-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity));
}

@font-face {
  font-family: FontLight;

  src: url(./font/Uni_Sans_Light.ttf);
}

@font-face {
  font-family: Font;

  src: url(./font/Uni_Sans.ttf);
}

@font-face {
  font-family: FontSemiBold;

  src: url(./font/Uni_Sans_SemiBold.ttf);
}

@font-face {
  font-family: FontBold;

  src: url(./font/Uni_Sans_Bold.ttf);
}

@font-face {
  font-family: FontBook;

  src: url(./font/Uni_Sans_Book.ttf);
}

.font-light {
  font-family: FontLight;
}

.font {
  font-family: Font;
}

.font-semibold {
  font-family: FontSemiBold;
}

.font-bold {
  font-family: FontBold;
}

.font-book {
  font-family: FontBook;
}

* {
  font-family: FontBook;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .sm\:mb-\[0_\!important\] {
    margin-bottom: 0 !important;
  }

  .sm\:block {
    display: block;
  }

  .sm\:hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mt-4 {
    margin-top: 1rem;
  }

  .md\:mt-20 {
    margin-top: 5rem;
  }

  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-14 {
    height: 3.5rem;
  }

  .md\:h-\[28rem\] {
    height: 28rem;
  }

  .md\:h-\[38rem\] {
    height: 38rem;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-14 {
    width: 3.5rem;
  }

  .md\:w-16 {
    width: 4rem;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:gap-14 {
    gap: 3.5rem;
  }

  .md\:gap-2 {
    gap: 0.5rem;
  }

  .md\:gap-28 {
    gap: 7rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:space-y-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
  }

  .md\:space-y-16 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4rem * var(--tw-space-y-reverse));
  }

  .md\:space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  }

  .md\:p-16 {
    padding: 4rem;
  }

  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:pt-2 {
    padding-top: 0.5rem;
  }

  .md\:pt-8 {
    padding-top: 2rem;
  }

  .md\:text-start {
    text-align: start;
  }

  .md\:text-end {
    text-align: end;
  }

  .md\:font-\[Font\] {
    font-family: Font;
  }

  .md\:font-\[FontBook\] {
    font-family: FontBook;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[33px\] {
    font-size: 33px;
  }

  .md\:text-\[36px\] {
    font-size: 36px;
  }

  .md\:text-\[54px\] {
    font-size: 54px;
  }

  .md\:text-\[64px\] {
    font-size: 64px;
  }
}

@media (min-width: 1024px) {
  .lg\:max-w-xs {
    max-width: 20rem;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[64px\] {
    font-size: 64px;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.\[\&\>\*\]\:mb-8>* {
  margin-bottom: 2rem;
}

.\[\&\>\*\]\:w-full>* {
  width: 100%;
}

.\[\&\>\*\]\:max-w-6xl>* {
  max-width: 72rem;
}

@media (min-width: 768px) {
  .md\:\[\&\>\*\]\:mb-32>* {
    margin-bottom: 8rem;
  }
}
