@tailwind utilities;

@font-face {
  font-family: FontLight;
  src: url(./fonts/Uni_Sans_Light.ttf);
}

@font-face {
  font-family: Font;
  src: url(./fonts/Uni_Sans.ttf);
}

@font-face {
  font-family: FontSemiBold;
  src: url(./fonts/Uni_Sans_SemiBold.ttf);
}

@font-face {
  font-family: FontBold;
  src: url(./fonts/Uni_Sans_Bold.ttf);
}

@font-face {
  font-family: FontBook;
  src: url(./fonts/Uni_Sans_Book.ttf);
}

.font-light {
  font-family: FontLight;
}

.font {
  font-family: Font;
}

.font-semibold {
  font-family: FontSemiBold;
}

.font-bold {
  font-family: FontBold;
}

.font-book {
  font-family: FontBook;
}

* {
  font-family: Font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
