.splide__slide {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.splide__wrapper .splide img {
  height: auto;
  margin-top: 100px;
  transition: 0.5s;
  width: 65%;
}
.splide__wrapper .splide .is-active img {
  margin-top: 0;
  width: 100%;
}
.splide__wrapper .splide .is-active .card__description {
  opacity: 1;
}
.splide__wrapper .splide {
  height: auto;
  margin-inline: auto;
}
.splide__wrapper .splide .splide__track {
  overflow: initial;
}
.splide__wrapper .splide .splide__pagination {
  bottom: auto;
  top: calc(100% - 22px);
}
.splide__wrapper .splide .splide__pagination__page {
  background: transparent;
  border: 1px solid #000;
  display: none;
  height: 15px;
  width: 15px;
}
.splide__wrapper .splide .splide__arrow {
  background-color: #00bcbc;
  display: none;
}
.splide__wrapper .splide .splide__pagination__page.is-active {
  background-color: #00bcbc;
}
.splide__wrapper .splide .card {
  border-radius: 4px;
  cursor: pointer;
  height: auto;
  text-align: center;
}
.splide__wrapper .splide .card .card__content {
  height: auto;
}
.splide__wrapper .splide .card__title {
  font-family: UniSansBold;
  font-size: 13px;
}
.splide__wrapper .splide .card__description {
  font-family: UniSansBook;
  margin-left: -10%;
  margin-top: 16px;
  opacity: 0;
  text-align: center;
  transition: 0.2s ease-in-out;
  width: 120%;
}
.splide__wrapper .splide .card {
  width: clamp(1rem, 60vw, 14rem);
}
.splide__wrapper .splide img {
  margin-top: 37px;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.-right-\[8\%\] {
  right: -8%;
}
.bottom-0 {
  bottom: 0;
}
.bottom-1\/3 {
  bottom: 33.333333%;
}
.bottom-4 {
  bottom: 1rem;
}
.bottom-\[12\.5\%\] {
  bottom: 12.5%;
}
.bottom-\[13\%\] {
  bottom: 13%;
}
.bottom-\[15\%\] {
  bottom: 15%;
}
.bottom-\[16\%\] {
  bottom: 16%;
}
.bottom-\[17\%\] {
  bottom: 17%;
}
.bottom-\[27\%\] {
  bottom: 27%;
}
.bottom-\[31\.5\%\] {
  bottom: 31.5%;
}
.bottom-\[38\%\] {
  bottom: 38%;
}
.bottom-\[38\.5\%\] {
  bottom: 38.5%;
}
.bottom-\[39\.5\%\] {
  bottom: 39.5%;
}
.bottom-\[42\%\] {
  bottom: 42%;
}
.bottom-\[44\%\] {
  bottom: 44%;
}
.bottom-\[46\%\] {
  bottom: 46%;
}
.bottom-\[49\%\] {
  bottom: 49%;
}
.bottom-\[59\%\] {
  bottom: 59%;
}
.bottom-\[62\%\] {
  bottom: 62%;
}
.bottom-\[65\%\] {
  bottom: 65%;
}
.bottom-\[66\%\] {
  bottom: 66%;
}
.bottom-\[71\%\] {
  bottom: 71%;
}
.bottom-\[75\%\] {
  bottom: 75%;
}
.bottom-\[76\%\] {
  bottom: 76%;
}
.bottom-\[79\%\] {
  bottom: 79%;
}
.bottom-\[94\%\] {
  bottom: 94%;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.top-4 {
  top: 1rem;
}
.top-\[60\%\] {
  top: 60%;
}
.z-10 {
  z-index: 10;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-14 {
  margin-bottom: 3.5rem;
}
.mb-28 {
  margin-bottom: 7rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-16 {
  margin-top: 4rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-20 {
  margin-top: 5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-8 {
  margin-top: 2rem;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-0 {
  height: 0;
}
.h-0\.5 {
  height: 0.125rem;
}
.h-12 {
  height: 3rem;
}
.h-5\/6 {
  height: 83.333333%;
}
.h-\[20rem\] {
  height: 20rem;
}
.h-\[84\%\] {
  height: 84%;
}
.h-\[88\%\] {
  height: 88%;
}
.h-full {
  height: 100%;
}
.max-h-44 {
  max-height: 11rem;
}
.max-h-\[40rem\] {
  max-height: 40rem;
}
.max-h-\[46rem\] {
  max-height: 46rem;
}
.w-1\/2 {
  width: 50%;
}
.w-12 {
  width: 3rem;
}
.w-3\/4 {
  width: 75%;
}
.w-5\/6 {
  width: 83.333333%;
}
.w-8 {
  width: 2rem;
}
.w-\[40\%\] {
  width: 40%;
}
.w-\[46\%\] {
  width: 46%;
}
.w-full {
  width: 100%;
}
.max-w-\[18rem\] {
  max-width: 18rem;
}
.max-w-\[20rem\] {
  max-width: 20rem;
}
.max-w-\[25\.5\%\] {
  max-width: 25.5%;
}
.max-w-\[30\%\] {
  max-width: 30%;
}
.max-w-\[31\%\] {
  max-width: 31%;
}
.max-w-\[32\%\] {
  max-width: 32%;
}
.max-w-\[34\%\] {
  max-width: 34%;
}
.max-w-\[36\%\] {
  max-width: 36%;
}
.max-w-\[38\%\] {
  max-width: 38%;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse)));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
  margin-top: calc(0.75rem * (1 - var(--tw-space-y-reverse)));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  margin-top: calc(1rem * (1 - var(--tw-space-y-reverse)));
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  margin-top: calc(2rem * (1 - var(--tw-space-y-reverse)));
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-tl-\[14rem\] {
  border-top-left-radius: 14rem;
}
.bg-\[\#264A8E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 74 142 / var(--tw-bg-opacity));
}
.bg-\[\#FFA400\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 164 0 / var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-zinc-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(67 67 67 / var(--tw-bg-opacity));
}
.bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.object-center {
  -o-object-position: center;
  object-position: center;
}
.p-8 {
  padding: 2rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-16 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.pl-8 {
  padding-left: 2rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-\[12pt\] {
  font-size: 12pt;
}
.text-\[13pt\] {
  font-size: 13pt;
}
.text-\[16pt\] {
  font-size: 16pt;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[19pt\] {
  font-size: 19pt;
}
.text-\[28px\] {
  font-size: 28px;
}
.text-\[34pt\] {
  font-size: 34pt;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.uppercase {
  text-transform: uppercase;
}
.leading-normal {
  line-height: 1.5;
}
.leading-tight {
  line-height: 1.25;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-zinc-400 {
  --tw-text-opacity: 1;
  color: rgb(67 67 67 / var(--tw-text-opacity));
}
.text-zinc-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity));
}
.duration-200 {
  transition-duration: 0.2s;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.\[fontFamily\:FontBook_\!important\] {
  font-family: FontBook !important;
}
@font-face {
  font-family: FontLight;
  src: url(fonts/Uni_Sans_Light.ttf);
}
@font-face {
  font-family: Font;
  src: url(fonts/Uni_Sans.ttf);
}
@font-face {
  font-family: FontSemiBold;
  src: url(fonts/Uni_Sans_SemiBold.ttf);
}
@font-face {
  font-family: FontBold;
  src: url(fonts/Uni_Sans_Bold.ttf);
}
@font-face {
  font-family: FontBook;
  src: url(fonts/Uni_Sans_Book.ttf);
}
.font {
  font-family: Font;
}
.font-semibold {
  font-family: FontSemiBold;
}
.font-bold {
  font-family: FontBold;
}
*,
.font-book {
  font-family: FontBook;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.--title {
  font-family: FontBold;
  font-size: 16pt;
}
@media (min-width: 768px) {
  .--title {
    font-size: 33px;
  }
}
.--body {
  font-size: 12pt;
  --tw-text-opacity: 1;
  color: rgb(67 67 67 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
  .--body {
    font-size: 18px;
  }
}
@media (min-width: 640px) {
  .sm\:mb-\[0_\!important\] {
    margin-bottom: 0 !important;
  }
  .sm\:block {
    display: block;
  }
  .sm\:hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }
  .md\:bottom-2\/3 {
    bottom: 66.666667%;
  }
  .md\:right-0 {
    right: 0;
  }
  .md\:mb-0 {
    margin-bottom: 0;
  }
  .md\:mt-0 {
    margin-top: 0;
  }
  .md\:mt-20 {
    margin-top: 5rem;
  }
  .md\:mt-4 {
    margin-top: 1rem;
  }
  .md\:block {
    display: block;
  }
  .md\:hidden {
    display: none;
  }
  .md\:h-14 {
    height: 3.5rem;
  }
  .md\:h-16 {
    height: 4rem;
  }
  .md\:h-3\/4 {
    height: 75%;
  }
  .md\:h-\[28rem\] {
    height: 28rem;
  }
  .md\:h-\[38rem\] {
    height: 38rem;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-14 {
    width: 3.5rem;
  }
  .md\:w-16 {
    width: 4rem;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:items-start {
    align-items: flex-start;
  }
  .md\:items-end {
    align-items: flex-end;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:gap-14 {
    gap: 3.5rem;
  }
  .md\:gap-2 {
    gap: 0.5rem;
  }
  .md\:gap-28 {
    gap: 7rem;
  }
  .md\:gap-4 {
    gap: 1rem;
  }
  .md\:space-y-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
    margin-top: calc(0.25rem * (1 - var(--tw-space-y-reverse)));
  }
  .md\:space-y-16 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(4rem * var(--tw-space-y-reverse));
    margin-top: calc(4rem * (1 - var(--tw-space-y-reverse)));
  }
  .md\:space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
    margin-top: calc(1rem * (1 - var(--tw-space-y-reverse)));
  }
  .md\:p-16 {
    padding: 4rem;
  }
  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .md\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .md\:pt-2 {
    padding-top: 0.5rem;
  }
  .md\:pt-4 {
    padding-top: 1rem;
  }
  .md\:pt-8 {
    padding-top: 2rem;
  }
  .md\:text-start {
    text-align: start;
  }
  .md\:text-end {
    text-align: end;
  }
  .md\:font-\[FontBook\] {
    font-family: FontBook;
  }
  .md\:font-\[Font\] {
    font-family: Font;
  }
  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .md\:text-\[18px\] {
    font-size: 18px;
  }
  .md\:text-\[31px\] {
    font-size: 31px;
  }
  .md\:text-\[33px\] {
    font-size: 33px;
  }
  .md\:text-\[34px\] {
    font-size: 34px;
  }
  .md\:text-\[36px\] {
    font-size: 36px;
  }
  .md\:text-\[40px\] {
    font-size: 40px;
  }
  .md\:text-\[54px\] {
    font-size: 54px;
  }
  .md\:text-\[64px\] {
    font-size: 64px;
  }
  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:max-w-\[22rem\] {
    max-width: 22rem;
  }
  .lg\:max-w-xs {
    max-width: 20rem;
  }
  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .lg\:text-\[18px\] {
    font-size: 18px;
  }
  .lg\:text-\[31px\] {
    font-size: 31px;
  }
  .lg\:text-\[33px\] {
    font-size: 33px;
  }
  .lg\:text-\[64px\] {
    font-size: 64px;
  }
  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 1280px) {
  .xl\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
}
.\[\&\>\*\]\:mb-8 > * {
  margin-bottom: 2rem;
}
.\[\&\>\*\]\:w-full > * {
  width: 100%;
}
.\[\&\>\*\]\:max-w-6xl > * {
  max-width: 72rem;
}
@media (min-width: 768px) {
  .md\:\[\&\>\*\]\:mb-32 > * {
    margin-bottom: 8rem;
  }
}
.\[\&\]\:mb-16 {
  margin-bottom: 4rem;
}
