@import "./splide.css";

@tailwind utilities;

@font-face {
  font-family: FontLight;
  src: url(./fonts/Uni_Sans_Light.ttf);
}

@font-face {
  font-family: Font;
  src: url(./fonts/Uni_Sans.ttf);
}

@font-face {
  font-family: FontSemiBold;
  src: url(./fonts/Uni_Sans_SemiBold.ttf);
}

@font-face {
  font-family: FontBold;
  src: url(./fonts/Uni_Sans_Bold.ttf);
}

@font-face {
  font-family: FontBook;
  src: url(./fonts/Uni_Sans_Book.ttf);
}

.font {
  font-family: Font;
}

.font-semibold {
  font-family: FontSemiBold;
}

.font-bold {
  font-family: FontBold;
}

.font-book {
  font-family: FontBook;
}

.--title {
  @apply font-bold text-black text-title md:text-title-md;
}

.--body {
  @apply font-book text-body text-zinc-400 md:text-body-md;
}
